
@font-face
{
    font-family: "Neon80s";
    src: url("../font/Neon.ttf") format('truetype');
}



font
{
  color: #f47e0b;
}





.navbar 
{
    background-color: #ffc90e; 
    
}
#nav-collapse
{
background-color:  #ffc90e;
}



.nav-link
{
    padding: 20px;
    margin: 2px;
    background: #f47e0b;
    border-radius: 8px;
}


.video
{
    display: block;
    text-align: center;
    padding-top: 50px;
}
















.inscription
{
  margin-left: 11px;
}


.inscription button
{
  margin-left: 15px;
  color: black;
  background-color: #f47e0b;
  font-size: 20px;
}

.form-check-label
{
  margin-left: 38px;
}

#exampleCheck1
{
  margin-left: 11px;
}




.formulaire
{
  margin-left: 11px;
  margin-right: 11px;
}


.formulaire button
{
  margin-left: 15px;
  color: black;
  background-color: #f47e0b;
  font-size: 20px;
}




.row 
{
  display: flex;
  justify-content: flex-end;
  

}

.col-lg-6 a
{
  margin-left: 20px;
}






















@media screen and (min-width:1050px) and (max-width:1500px)
{
 

  iframe
      {
        width: 200%;
      }

}




@media screen and (min-width:1501px) 
{
 

  iframe
      {
        width: 300%;
        height: auto;
      }

}


